.pular { 
  font-size: 68px;
  padding-left: 82px;
  padding-bottom: 74px;
  line-height: 12px;
  font-size: 80px;
  padding-right: 81px;
  line-height: 34px;
  border-left-width: 83px;
  border-top-width: 47px;
  padding-bottom: 63px;
  padding-bottom: 21px;
  border-left-width: 33px;
  font-size: 82px;
  border-right-width: 51px;
  line-height: 41px;
  border-right-width: 41px;
}
