.pular { 
  font-size: 68px;
  padding-left: 82px;
  padding-bottom: 74px;
  line-height: 12px;
  font-size: 80px;
  padding-right: 81px;
  line-height: 34px;
  border-left-width: 83px;
  margin-top: 25px;
  margin-top: 4px;
}
